@use '../../assets/styles/mixins' as mixin;
@use '../../assets/styles/debug';
@use '../../assets/styles/index.scss';


.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.bannerContainer {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h3 {
  color: white;
}

.dashboard h2 {
  color: white;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profilePhoto {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.profileSection {
  position: relative; 
  bottom: 40px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  left: 5%;
  transform: translateX(-50%); 
  z-index: 10;
  color: white;
}

.username {
  font-size: 28px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  color: white;
}

.editProfileButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#4a90e2, 10%);
  }
}

.editSection {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.uploadSection {
  margin-bottom: 20px;
}

.uploadLabel {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.uploadInput {
  display: block;
  margin-top: 10px;
}

/* Dashboard Styles */
.dashboard {
  width: 100%;
  padding: 20px;
  background-color: #282828;
  border-radius: 25px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dashboardTitle {
  font-size: 24px;
  color: #fff;
}

.overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.gameTitle {
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  @include mixin.xs {
    font-size: 23px;
  }

  @include mixin.sm-lt {
    font-size: 23px;
  }
}

.deleteButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #dc3545; 
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;

  @include mixin.xs {
    padding: 3px 8px;
    top: 5px;
    left: 5px;
  }
}

.gamesGrid,
.wishlistGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
}

.gameCard {
  position: relative;
}

.gameCard,
.wishlistCard {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 116px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }

  @include mixin.xs {
    width: 80vw;
    }

  @include mixin.sm {
    width: 80vw;
    justify-self: center;
    }
}
