@use '../../assets/styles/mixins' as mixin;
@use '../../assets/styles/debug';
@use '../../assets/styles/index.scss';

.navbar {
  height: auto;
  width: 100%;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;

}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  @include mixin.sm-lt {
    flex-direction: column;
    gap: 10px;
  }
}

.video {
  height: 100px;
  cursor: pointer;

  @include mixin.sm-lt {
    height: 80px;
  }

  @include mixin.xs {
    height: 70px;
  }
}

.links {
  display: flex;
  gap: 20px; 
  align-items: center;

  @include mixin.sm-lt {
    flex-direction: column; 
  }
}

.navbar a {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 14.875px;
  text-decoration: none;

  @include mixin.sm-lt {
    font-size: 14px;
  }

  @include mixin.xs {
    font-size: 13px;
  }
}

.navbar a:hover {
  color: #d0448d; 
}

.profilePicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  @include mixin.sm-lt {
    width: 50px;
    height: 50px;
  }

  @include mixin.xs {
    width: 40px;
    height: 40px;
  }
}

.profileDropdown {
  position: relative;
  display: inline-block;
}

.dropdownMenu {
  position: absolute;
  top: 70px;  
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  width: 140px;
  flex-direction: column;
  z-index: 100;

  @include mixin.sm-lt {
    top: 60px; // Adjust for smaller profile pictures
  }
}

.dropdownMenu a, .dropdownMenu button {
  padding: 10px 20px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;

  @include mixin.xs {
    padding: 8px 16px;
  }
}

.dropdownMenu a:hover, .dropdownMenu button:hover {
  background-color: #f0f0f0;
}
