@use '../../assets/styles/mixins' as mixin;
@use '../../assets/styles/debug';
@use '../../assets/styles/index.scss';

.releases {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: white;
}

.gamesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.gameCard {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 116px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }

  @include mixin.sm-lt {
    width: 95vw;
    justify-self: center;
  }
}

.gameImage {
  height: 100px;
  width: 100px;
}

.overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.gameTitle {
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  @include mixin.sm-lt {
    font-size: 28px;
  }
}

.gameReleased {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
}